 .mobile-footer .panel-group .panel .panel-heading .panel-title a:after {
    font-family: FontAwesome;
    content: '\f106';
    color: #00377b;
    font-weight: 300;
    float: right;
    font-size:1.33em;
  }
.mobile-footer .panel-group .panel .panel-heading .panel-title a.collapsed:after {
    content: '\f107';
  }
  
 
  .container .panel-mobile-menu .panel .parent .panel-title a:after {
    font-family: FontAwesome;
    content: '\f106';
    color: white;
    font-weight: 300;
    float: right;
    font-size:1.33em;
    margin-left: 16px;
    margin-right: 16px;
  }
.container .panel-mobile-menu .panel .parent .panel-title a.collapsed:after {
    content: '\f107';
  }


  .account-menu .nav-desktop li.active:before {
    font-family: FontAwesome;
    content: '\f0c8'; 
    color: #377dc8;
  }
