.qty-tag {
    position: absolute;
    top: 2px;
    left: 2px;
    width: auto;
    vertical-align: top;
    color: #fff;
    line-height: 13px;
    background: none repeat scroll 0% 0% #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}
